/* FUENTES */
@font-face {
	font-family: 'Raleway-Bold';
	src: url('../font/raleway-bold/');
	src: local('☺'), url('../font/raleway-bold/Raleway-Bold.woff') format('woff'), url('../font/raleway-bold/Raleway-Bold.ttf') format('truetype'), url('../font/raleway-bold/Raleway-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url('../font/raleway-medium/');
	src: local('☺'), url('../font/raleway-medium//Raleway-Medium.woff') format('woff'), url('../font/raleway-medium//Raleway-Medium.ttf') format('truetype'), url('../font/raleway-medium//Raleway-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.vertical {
	padding-top: 40%;
}

/* Labels colors */
.bg-color-1 {
	background-color: #ef9a9a!important;
}

.bg-color-2 {
	background-color: #f48fb1!important;
}

.bg-color-3 {
	background-color: #ce93d8!important;
}

.bg-color-4 {
	background-color: #b39ddb!important;
}

.bg-color-5 {
	background-color: #9fa8da!important;
}

.bg-color-6 {
	background-color: #90caf9!important;
}

.download {
	text-align: end;
}

label {
    margin-bottom: 0rem!important;
}

/* LOGO */
.logo-dron {
    height: 50px;
}

/* Floating buttom */
.zoom {
	position: fixed!important;
	bottom: 25px!important;
	right: 24px!important;
	height: 70px!important;
  }
  
  .zoom-fab {
	display: inline-block!important;
	width: 40px!important;
	height: 40px!important;
	line-height: 40px!important;
	border-radius: 50%!important;
	background-color: #1b2230!important;
	vertical-align: middle!important;
	text-decoration: none!important;
	text-align: center!important;
	transition: 0.2s ease-out!important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)!important;
	cursor: pointer!important;
	color: #FFF!important;
  }
  
  .zoom-fab:hover {
	background-color: #1b2230!important;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)!important;
  }
  
  .zoom-btn-large {
	width: 60px!important;
	height: 60px!important;
	line-height: 60px!important;
  }
  
  .zoom-btn-person { background-color: #F44336!important; }
  
  .zoom-btn-person:hover { background-color: #e57373!important; }
  
  .zoom-btn-doc { background-color: #ffeb3b!important; }
  
  .zoom-btn-doc:hover { background-color: #fff176!important; }
  
  .zoom-btn-tangram { background-color: #4CAF50!important; }
  
  .zoom-btn-tangram:hover { background-color: #81c784!important; }
  
  .zoom-btn-report { background-color: #2196F3!important; }
  
  .zoom-btn-report:hover { background-color: #64b5f6!important; }
  
  .zoom-btn-feedback { background-color: #9c27b0!important; }
  
  .zoom-btn-feedback:hover { background-color: #ba68c8!important; }
  
  .zoom-menu {
	position: absolute!important;
	right: 70px!important;
	left: auto!important;
	top: 65%!important;
	transform: translateY(-50%)!important;
	height: 100%!important;
	width: 500px!important;
	list-style: none!important;
	text-align: right!important;
  }
  
  .zoom-menu li {
	display: inline-block!important;
	margin-right: 10px!important;
  }
  
  .zoom-card {
	position: absolute!important;
	right: 150px!important;
	bottom: 70px!important;
	transition: box-shadow 0.25s!important;
	padding: 24px!important;
	border-radius: 2px!important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)!important;
	color: #FFF!important;
  }
  
  .zoom-card ul {
	-webkit-padding-start: 0!important;
	list-style: none!important;
	text-align: left!important;
  }
  
  .scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }
  
  .scale-transition.scale-out {
	transform: scale(0)!important;
	transition: transform 0.2s !important;
  }
  
  .scale-transition.scale-in { transform: scale(1)!important; }

  /* Drag & Drop */
  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 100px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}

.files:after {  pointer-events: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
	content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}

.files:before {
    position: absolute;
    bottom: -10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: "Drag & Drop";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
  